/* Font Family */
p, li, .accordion-header, .accordion, .cancellation, .navbar-item, .contact-content, h1, h3 {
    color: black !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navbar and Hero */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.navbar-item {
    font-size: 25px;
    color: black !important;
    background-color: #00d1b2;
}
/* .header-body {
    background-image: url("../img/massage.jpg");
    height: 100vh;
} */
.hero-content, .accordion-header {
    font-family: 'Dancing Script', cursive;
}
.hero-title {
    font-size: 120px;
    font-weight: bold;
}
.hero-subtitle {
    font-size:40px;
}

.hero.has-background {
    position: relative;
    overflow: hidden;
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.hero-background.is-transparent {
    opacity: 0.3;
}

@media only screen and (max-width: 658px) {
    .hero-title {
        font-size: 75px;
    }
    .hero-subtitle {
        font-size: 30px;
    }
}

/* Accordion */
.accordion-container, .cancellation-content-container {
    margin: 30px 250px 100px 250px;
}
@media only screen and (max-width: 961px) {
    .accordion-container {
        margin: 30px 20px;
    }
    .cancellation-content-container {
        margin: 30px 20px;
    }
}
.accordion-header {
    font-size: 100px;
}
button.accordion {
    width: 100%;
    background-color: #00d1b2;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size:18px;
    cursor: pointer !important;
    transition: background-color 0.2s linear;
}
button.accordion::after {
    content:'\f055';
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
}
button.accordion.is-open::after {
    content:'\f056';
}
button.accordion:hover, button.accordion.is-open {
    background-color:#BDF3EA;
}
.accordion-content {
    padding: 0px 20px;
    border-left: 1px solid #00d1b2;
    border-right: 1px solid #00d1b2;
    border-bottom: 1px solid #00d1b2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.acc-p {
    padding: 0px 10px;
}

/* Home Page Banner */
.cancellation-banner {
    background-image: url("../img/massage.jpg");
    background-repeat: no-repeat;
    color: #00d1b2!important;
}

/* About Page */
.kelly-image {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media only screen and (min-width: 961px) {
.about-content {
    padding: 0px 100px 50px 100px;

}
}

/* Contact Page */
.contact-content {
    margin: 80px 500px 150px 500px;
    font-size: 25px;
}
.email {
    color:black;
}
.email:hover {
    color: #00d1b2;
}

/* Footer */
footer {
    background-color: #BDF3EA!important;
}
.social-icon {
    color: #00d1b2;
}