/* Font Family */
p, li, .accordion-header, .accordion, .mission, .navbar-item, .contact-content {
    color: black !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navbar and Hero */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.navbar-item {
    font-size: 25px;
    color: black !important;
}
.header-body {
    background-image: url("../img/massage.jpg");
    height: 100vh;
}
.hero-content, .accordion-header {
    font-family: 'Dancing Script', cursive;
}
.hero-title {
    font-size: 120px;
    font-weight: bold;
}
.hero-subtitle {
    font-size:40px;
}
@media only screen and (max-width: 658px) {
    .hero-title {
        font-size: 75px;
    }
    .hero-subtitle {
        font-size: 30px;
    }
}

/* Accordion */
.accordion-container, .mission-content-container {
    margin: 30px 300px 100px 300px;
}
@media only screen and (max-width: 900px) {
    .accordion-container {
        margin: 30px 20px;
    }
    .mission-content-container {
        margin: 30px 100px;
    }
}
.accordion-header {
    font-size: 100px;
}
button.accordion {
    width: 100%;
    background-color: #00d1b2;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size:18px;
    cursor: pointer !important;
    transition: background-color 0.2s linear;
}
button.accordion::after {
    content:'\f055';
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
}
button.accordion.is-open::after {
    content:'\f056';
}
button.accordion:hover, button.accordion.is-open {
    background-color:#BDF3EA;
}
.accordion-content {
    padding: 0px 20px;
    border-left: 1px solid #00d1b2;
    border-right: 1px solid #00d1b2;
    border-bottom: 1px solid #00d1b2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.acc-p {
    padding: 0px 10px;
}

/* Home Page Banner */
.mission-banner {
    background-image: url("../img/massage.jpg");
    background-repeat: no-repeat;
    color: #00d1b2!important;
}

/* Contact Page */
.contact-content {
    margin: 80px 500px 150px 500px;
    font-size: 25px;
}
.email {
    color:black;
}
.email:hover {
    color: #00d1b2;
}

/* Footer */
footer {
    background-color: #BDF3EA!important;
}
.social-icon {
    color: #00d1b2;
}


/* .title-landing {
    position: relative;
    color: #ffffff;  
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
    margin-top: 100px;
}
.hero-main {
    position: relative; 
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-main::before {    
    content: "";
    background-image: url("../img/hotStone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.title-services {
    position: relative;
    color: #ffffff;  
    font-size: 10rem;
    line-height: 0.9;
    text-align: center;
    margin-top: 100px;
    color: black;
    font-family: 'Dancing Script', cursive;
} */